<div class="home" ng-controller="homeController">
	<nav class="navbar navbar-inverse">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand">{exp.}</a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	      <ul class="nav navbar-nav">
	       	<li><a href="#!/home">Home</a></li>
	       	<li><a href="">About</a></li>
		      <li class="active"><a href="#!/create">Create</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right"> 
	        <li><a ng-click='logout()' href="#">Log Out</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="createHome">
		<div class="form">
			<h2>Create an adventure!</h2>
			<form>
				<p>Adventure: <input type="text" ng-model='newEvent.title'></p>
				<p>Image (optional | url): <input type="text" ng-model='newEvent.image'></p>
				<p>Description: <textarea ng-model='newEvent.text'></textarea></p>
				<p>Date: <input type="date" ng-model='newEvent.date'></p>
				<p>Time: <select ng-model='newEvent.time'>
					<option>12:00 PM</option>
					<option>1:00 PM</option>
					<option>2:00 PM</option>
					<option>3:00 PM</option>
					<option>4:00 PM</option>
					<option>5:00 PM</option>
					<option>6:00 PM</option>
					<option>7:00 PM</option>
					<option>8:00 PM</option>
					<option>9:00 PM</option>
					<option>10:00 PM</option>
					<option>11:00 PM</option>
					<option>12:00 AM</option>
					<option>1:00 AM</option>
					<option>2:00 AM</option>
					<option>3:00 AM</option>
					<option>4:00 AM</option>
					<option>5:00 AM</option>
					<option>6:00 AM</option>
					<option>7:00 AM</option>
					<option>8:00 AM</option>
					<option>9:00 AM</option>
					<option>10:00 AM</option>
					<option>11:00 AM</option>
				</select></p>
				<input type="submit" value="Submit Event!" ng-click='create()'>
			</form>
			<div class="photo">
				<img class="createIMG" src="https://images.unsplash.com/photo-1456949037425-4b097bbcc0e8?dpr=1&auto=compress,format&fit=crop&w=1199&h=674&q=80&cs=tinysrgb&crop=&bg=">
				<img class="createIMG" src="https://images.unsplash.com/photo-1473088555253-cc83bbc5dae3?dpr=1&auto=compress,format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=&bg=">
				<img class="createIMG" src="https://images.unsplash.com/photo-1485321586038-4cc99992a06f?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=">
				<img class="createIMG" src="https://images.unsplash.com/photo-1490902931801-d6f80ca94fe4?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=">
			</div>
		</div>
	</div>
</div>